{%extends "blog/base.html"%} {%block content%}

<style>
  .down-con {
    background-color: rgb(187, 185, 185);
    height: fit-content;
  }
  .move {
    margin-right: 0;
    margin-left: 0;
  }
  .display-6 {
    font-size: 1.5em;
  }
  .flex-class {
    display: flex;
    justify-content: space-between;
  }
  .stat-card {
    margin-right: 10px !important;
  }
  .pill {
    border-radius: 15px;
    padding: 5px 10px;
    margin: 0 2.5px;
    font-size: 0.75em;
    font-weight: 600;
    color: white;
  }
  .pill-green {
    background-color: green;
  }
  .pill-gray {
    background-color: gray;
  }
</style>

<div class="container-fluid down-con m-0 p-0">
  <div class="row m-0">
    <div class="card w-50 m-3 mx-auto">
      <div class="card-body">
        <h1 class="strong text-center">Hi {{user.username}}!</h1>
        <p class="text-center display-6">
          Here are all the scholarships that are active right now!
        </p>
      </div>
    </div>
  </div>
</div>

{% for post in posts %}
<div class="col-lg-6 col-sm-10 mx-auto my-2">
  <div class="card">
    <div class="card-body float-left">
      <div class="row flex-class">
        <section class="col-lg-8 px-4 py-2">
          <h3 class="card-title" style="white-space: nowrap">{{post.title}}</h3>
          <small class="card-subtitle"
            ><i>Created by {{post.authors}}</i></small
          >
          <hr />
          <p class="card-text mt-3">{{post.contents}}</p>
        </section>
        <section class="col-lg-4 mr-3">
          <div class="row move">
            <div class="bg-light text-end stat-card my-2">
              <div class="p-2">
                <h5>Money</h5>
                <small>Rs. {{post.scholarship_amount}}</small>
              </div>
            </div>
          </div>
          <div class="row move">
            <div class="bg-light text-end stat-card my-2">
              <div class="p-2">
                <h5>Deadline</h5>
                <small>{{post.deadline}}</small>
              </div>
            </div>
          </div>
          <div class="bg-light text-end px-3 py-2">
            <i>Internal application</i>
          </div>
        </section>
      </div>
    </div>

    <div class="card-footer flex-class">
      <div class="py-3">
        <strong class="text-muted"> Criteria: </strong>
        {%if post.isBtech %}
        <span class="py-3">
          <span class="pill pill-green">B.Tech</span>
        </span>
        {%endif%} {%if post.isMtech%}
        <span class="py-3">
          <span class="pill pill-green">M.Tech</span>
        </span>
        {% endif %} {%if isPhD%}
        <span class="py-3">
          <span class="pill pill-green">PhD</span>
        </span>
        {%endif%}
      </div>
      <a href="{{post.url}}" class="btn btn-primary my-2 text-end">Apply now</a>
    </div>
  </div>
</div>
{%endfor%} {%endblock content%}
