{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <title>Portal name</title>
    <style>
      .btn-primary,
      .btn-primary:hover {
        background-color: #5f788a;
      }
      .btn-outline-primary {
        color: #5f788a;
      }
      .text-primary {
        color: #5f788a;
      }
      a {
        text-decoration: none;
        color: #5f788a;
        font-weight: 500;
      }

      a:hover {
        text-decoration: none;
        color: #5f788a;
        font-weight: 600;
      }

      .reg-card {
        width: 50vw;
      }

      @media only screen and (max-width: 768px) {
        .reg-card
        {
          width: 90vw;
        }
      }

    </style>
  </head>
  <body>
    <div class="row text-center col-sm mx-auto mt-2">
      <h1 class="text-primary display-5 text-capitalize mt-0">scholarship portal</h1>
    </div>
    <div class="container-fluid bg-light">
      <div
        class="row justify-content-center align-items-center">
        <div class="card col-lg-4 col-sm-2 mx-auto mb-4 m-5 reg-card">
          <div class="card-body">
            <form class="p-5">
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="name"
                  class="form-control"
                  placeholder="Enter name"
                />
              </div>
              <div class="form-group pt-2">
                <label for="birthday">Date of Birth</label>
                <input type="date" class="form-control">
              </div>
              <div class="form-group pt-2">
                <label for="regnumber">Registration No.</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Registration No."
                />
              </div>
              <div class="form-group pt-2">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email Address"
                />
              </div>
              <div class="form-group pt-2">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="form-group pt-2">
                <label for="password">Re-enter Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <small class="text-right"
                ><a href="#" class="row mb-3 p-2"
                  >The password entered is incorrect.</a
                ></small
              >
              <div class="row">
                <button type="submit" class="btn btn-primary col mx-2">
                  Register
                </button>
              </div>
              <div class = "row">
              <p class = "mt-1">Already a user?  <a class = "" href = "{% url 'blog-login'%}" style = "font-weight: 500"> Login here </a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
